#editor {
  display: none;
  margin-top: 35px;
  height: 100%;
  overflow: auto;
}

#preview {
  height: calc(100% - 40px);
  width: calc(50% - 40px);
  float: left;
  overflow-y: scroll;
  padding: 20px;
}

#editor div.CodeMirror {
  height: 100%;
  width: 50%;
  float: left;
}

#edit {
  display: inline-block;
}

.edit {
  display: none;
}
