#controles {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 0px solid #eee;
  width: 100%;
}

#controles a button {
  color: #444;
}

#controles.disabled button {
  opacity: 0.7;
  color: #999;
}

#controles.disabled button#home {
  opacity: 1.0;
  color: #444;
}

#controles button {
  float: left;
  background-color: #FCFCFC;
  border: 1px solid #DDD;
  padding: 10px;
}

#editor {
  display: none;
  margin-top: 37px;
  height: 100%;
}

#preview {
  height: 100%;
  width: 50%;
  float: left;
}

#editor div.CodeMirror {
  height: 100%;
  width: 50%;
  float: left;
}

#edit {
  display: inline-block;
}

#discard {
  display: none;
}

#save {
  display: none;
}
