<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>{{=it.wiki}}: {{=it.title}}</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="template_assets/static/css/normalize.css">
  <link rel="stylesheet" href="template_assets/static/css/style.css">
  <link rel="stylesheet" href="template_assets/static/css/content.css">

  <!-- Dynamic -->
  <link rel="stylesheet" href="template_assets/dynamic/css/ui.css">

  <!-- Global User CSS -->
  {{ for(var i in it.global_css) { }}
  <link rel="stylesheet" href="{{=it.global_css[i]}}">
  {{ } }}

  <!-- Local User CSS -->
  {{ for(var i in it.local_css) { }}
  <link rel="stylesheet" href="{{=it.local_css[i]}}">
  {{ } }}
</head>
<body>
  <div id="controles">
    <button id="edit">Edit</button>
  </div>
  <div id="content" class="markdown-body">
  {{=it.html}}
  </div>
  <div id="editor">
    <textarea></textarea>
  </div>

  <!-- Dynamic -->
  <script src="template_assets/dynamic/js/ui.js"></script>

  <!-- Global User JS -->
  {{ for(var i in it.global_js) { }}
  <script src="{{=it.global_js[i]}}"></script>
  {{ } }}

  <!-- Local User JS -->
  {{ for(var i in it.local_js) { }}
  <script src="{{=it.local_js[i]}}"></script>
  {{ } }}
</body>
</html>
