<!--<meta http-equiv="refresh" content="0; url=fragment/" />-->
<!--<meta http-equiv="refresh" content="0; url=static_local/" />-->
<!--<meta http-equiv="refresh" content="0; url=static/" />-->
<meta http-equiv="refresh" content="0; url=dynamic/" />
<!--<meta http-equiv="refresh" content="0; url=md.html/" />-->
<!--<meta http-equiv="refresh" content="0; url=standalone/" />-->
<!--<meta http-equiv="refresh" content="0; url=full-standalone/" />-->

<!--<ul>
  <li><a href="fragment/">Fragment</a></li>
  <li><a href="static_local/">Static Local</a></li>
  <li><a href="static/">Static</a></li>
  <li><a href="dynamic/">Dynamic</a></li>
  <li><a href="md.html/">md.html</a></li>
  <li><a href="standalone/">Standalone</a></li>
  <li><a href="full-standalone/">Full Standalone</a></li>
</ul>-->
