#controles {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid #eee;
  width: 100%;
}

#controles button {
  float: left;
}

#editor {
  display: none;
}

.editor-toolbar.fullscreen {
  top: 21px;
}

.editor-toolbar.fullscreen::before {
  width: 0; /* hides white gradient that's in the way of the controles bar */
}

.CodeMirror-fullscreen {
  top: 71px;
}
