#controles {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 0px solid #eee;
  width: 100%;
}

#controles button {
  float: left;
  background-color: #FCFCFC;
  border: 1px solid #DDD;
  padding: 10px;
}

#editor {
  display: none;
  margin-top: 37px;
  height: 100%;
}

#editor div.CodeMirror {
  height: 100%;
}

#edit {
  display: inline-block;
}

#discard {
  display: none;
}

#save {
  display: none;
}
